* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 30em;
  margin: 1em auto;
  line-height: 1.5;
  background-color: aliceblue;
  font-family: sans-serif;
}

h1,
h2 {
  font-weight: normal;
}

div {
  margin: 1em 0;
}

label {
  display: block;
}

input:not([type="checkbox"]),
button {
  border: .125em solid #d7d7d7;
  border-radius: .25em;
  font: inherit;
}

input:not([type="checkbox"]) {
  width: 100%;
  padding: .5em;
  background-color: white;
}

[type="checkbox"] {
  margin-left: 0;
}

button {
  padding: .5em 1em;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #d7d7d7;
}

a {
  color: #068;
}

a:hover {
  text-decoration: none;
}

footer {
  border-top: .5em solid #d7d7d7;
  margin-top: 2em;
}